@model VolvoTruck.App.Models.Truck

@{
    ViewData["Title"] = "Exclusão";
}

<h2 class="alert-danger" style="padding-top: 20px">Você tem certeza que deseja excluir?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FabricationYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FabricationYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TruckModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TruckModel)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> 
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>
