@model VolvoTruck.App.Models.Truck

@{
    ViewData["Title"] = "Detalhes";
}

<h2 style="padding-top: 20px">@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FabricationYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FabricationYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TruckModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TruckModel)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> 
    <a class="btn btn-info" asp-action="Index">Voltar</a>
</div>
